@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

body {
  width: 100%;
  height: 100%;
  margin: 0 0 0 0;
  min-height: 100vh;
}
h1 {
  text-align: center;
}

#tick-icon {
  animation-name: appearance-animation, color-change-animation;
  animation-duration: 3s, 3s;
  animation-fill-mode: forwards, forwards;
}

@keyframes appearance-animation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes color-change-animation {
  0% {
    color: #fff;
  }
  100% {
    color: #87BD5C;
  }
}


@media screen and (max-width: 980px) {
  header {
    font-size: 2rem;
  }
}

h3 {
  color: #fff;
  font-family: Noto Sans;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.order-reference-number {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

h4 {
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 1em;
  text-align: center;
}








