@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text");

/* Body */
body {
  background-color: white;
}

/* Text */
li,
a,
input {
  margin: 0 10px 0 0;
  padding: 0 0 0 0;
  font-size: 16px;
  color: #603423;
}

.text-white {
  flex: 1 0 0;
  border-radius: 0.3rem;
  border-style: none;
  background: rgba(147, 143, 143, 0.6);
  align-items: center;
  padding: 0.3rem;
  color: #fff;
  font-size: 0.9rem;
  font-family: "Noto Sans";
  cursor: pointer;
}

/* Back arrow button */
.back-arrow {
  width: 30px;
  float: left;
  display: block;
  margin: 20px 0 0 30px;
}

/* Grid container for slideshow and product */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
  gap: 30px;
}

/* Styling for the main page sections */
.detail-page-section {
  margin-bottom: 60px;
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* Image styling */
.slideshow-image,
.cart-product-image {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

/* Responsiveness of main page */
@media screen and (min-width: 700px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Container of the images in the slideshow */
.slideshow-container {
  position: relative;
  width: 100%;
  height: 500px;
}

/* Slide attributes */
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Slide left and right arrows attributes*/
.previous-slide-button,
.next-slide-button {
  padding: 25px 30px 25px 30px;
  position: absolute;
  top: 40%;
  width: auto;
  height: auto;
  color: black;
  font-size: 28px;
  cursor: pointer;
}

.previous-slide-button {
  left: 0;
}

.next-slide-button {
  right: 0;
}

.previous-slide-button:hover,
.next-slide-button:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.25);
}

.previous-slide-button:not(:hover),
.next-slide-button:not(:hover) {
  transition: 0.2s ease-in-out;
  transform: scale(1);
}

/* Container for the display dots */
.slide-dots-container {
  display: flex;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

/* Display dots styling */
.slide-dot {
  display: block;
  margin-right: 20px;
  height: 15px;
  width: 15px;
  background-color: #bababa;
  border-radius: 50%;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
}

.active,
.slide-dot:hover {
  background-color: #616161;
}

/* Container for product information */
.product-details-container {
  text-align: center;
}

/* Styling for specific text */
.product-name,
.product-origin,
.product-price,
.product-info,
.product-option-button,
.cart-button,
.cart-product-name,
.cart-product-option,
.cart-product-price {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #603423;
}

.product-name {
  margin: 0;
  font-size: 2.5rem;
  text-align: left;
}

.product-origin {
  margin: 0 0 35px 0;
  font-size: 24px;
  text-align: left;
}

.product-price {
  margin: 0 0 35px 0;
  font-size: 35px;
}

.product-info {
  margin: 0;
  font-size: 20px;
  text-align: left;
  font-family: "Crimson Text";
  font-weight: 400;
}

/* Styling for the buttons */
.product-option-button1,
.product-option-button2,
.product-option-button3,
.cart-button,
.checkout-button {
  border-radius: 0;
  border-width: 0;
  font-size: 20px;
  color: white;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.product-option-button1,
.product-option-button2,
.product-option-button3 {
  margin: 0 5px 25px 5px;
  width: 30%;
  padding: 0.8rem;
  background-color: #d4c8b9;
}

.product-option-button1:hover,
.product-option-button2:hover,
.product-option-button3:hover {
  background-color: #b5a186;
}

.product-option-button1:focus,
.product-option-button2:focus,
.product-option-button3:focus {
  outline: #b5a186 solid medium;
}

.cart-button {
  margin: 0 0 30px 0;
  width: 60%;
  height: 50px;
}

.cart-button:hover,
.checkout-button:hover {
  background-color: #4d4935;
}

.cart-button:focus,
.checkout-button:focus {
  outline: #4d4935 solid medium;
}

.cart-button,
.checkout-button {
  background-color: #5b573e;
}

.checkout-button {
  margin: 0 20px 35px 20px;
  width: calc(100% - 70px);
  height: 55px;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Individual text styling for the cart modal header */
.cart-title {
  margin: 0;
  margin-bottom: 40px;
  position: absolute;
  top: 35px;
  left: 35px;
  color: white;
  font-size: 40px;
  text-align: left;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Individual text styling for the subtotal */
.cart-subtotal {
  margin: 0 0 10px 35px;
  text-align: left;
  color: white;
  font-family: Noto Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* Container for the bottom part of the cart modal */
.cart-footer-container {
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
}

.cart-footer-container:focus {
  outline: none auto 1px;
}

/* Container for the cart modal */
.modal-container {
  position: fixed;
  z-index: 2;
  right: 0;
  top: 0;
  width: 40%;
  height: 100%;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #482416;
}

.modal-container::-webkit-scrollbar {
  display: none;
}

/*hide scrollbar on overflow while keeping scroll functionality: 
https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll*/


/* Responsiveness of the cart modal */
@media screen and (max-width: 600px) {
  .modal-container {
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  .modal-container {
    width: 80%;
  }
}

@media screen and (min-width: 800px) {
  .modal-container {
    width: 60%;
  }
}

@media screen and (min-width: 1000px) {
  .modal-container {
    width: 40%;
  }
}

/* Styling for the x button in the cart modal */
.close-cart-button {
  position: absolute;
  top: 35px;
  right: 35px;
  color: white;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-cart-button:hover {
  color: black;
}

/* Screen overlay displayed behind the cart modal */
.overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100%;
}

/* Class used to hide elements */
.hidden {
  display: none;
}

/* Class used to change the color of the selected option */
.active-option {
  background-color: #b5a186;
}

.active-option:focus {
  outline: #8c7d68 solid medium;
}

/* Container for the products in the cart */
.cart-products-container {
  display: grid;
  position: relative;
  margin: 120px 0 35px 0;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

/* Styling for the product image section in the cart */
.cart-section-image {
  margin-left: 35px;
  margin-bottom: 30px;
  width: 50%;
  height: 100%;
}

/* Styling for the product information section in the cart */
.cart-section-product-details {
  display: inline-block;
  margin-left: -50px;
  width: 100%;
  height: 100%;
}

/* Container for the product counter */
.product-counter-container {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
}

/* Styling for span inside container for the product counter */
.product-counter-container span {
  display: block;
  padding-right: 20px;
  color: white;
  text-align: center;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

/* Styling for the amount */
.product-counter-amount {
  margin-right: 20px;
  width: 50px;
  font-size: 15px;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: #a26c40;
  color: #fff;
  border: none;
  appearance: textfield;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

.product-counter-amount::-webkit-inner-spin-button,
.product-counter-amount::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*hide arrows from input type number:
https://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box*/

.product-counter-amount:focus {
  outline: #7d5432 solid medium;
}

/* Styling for text inside the cart */
.cart-product-name,
.cart-product-option,
.cart-product-price {
  margin: 0 0 20px 0;
  text-align: left;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: white;
}

.cart-product-name {
  font-size: 30px;
}

.cart-product-option,
.cart-product-price {
  font-size: 20px;
}
