
header {
    display: block;
    font-size: 2.5em;
    text-align: left;
    color: #b59966;
    padding: 2em, 2em;
    margin: 0 0 0 0;
    justify-content: space-between;
    font-family: sans-serif;
}

h3, h4, h5, h6 {
    color: #787878;
    font-weight: 16px;
    line-height: 1em;
    margin: 0 0 1em 0;
}

.welcome-style{
    background-image: url("../images/background.jpg");
    background-size: cover;
}

.section-about {
    background-color: #E2DCD5;
}

.image-logo{
    width: 30%;
}

.image-product {
    width: 30%;

}

.our-products{
    
}