header {
    display: block;
    font-size: 2.5em;
    text-align: left;
    color: #b59966;
    padding: 2em, 2em;
    margin: 0 0 0 0;
    justify-content: space-between;
}

h3, h4, h5, h6 {
    color: #787878;
    font-weight: 600;
    line-height: 1em;
    margin: 0 0 1em 0;
}