@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
header {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    text-align: left;
    font-family: 'Noto Sans';
    color: #fff;
    font-style: normal;
    font-weight: 400;
    margin: 0 0 0 0;
}

header h3{
    color:#FFF;
    font-family: Noto Sans;
    font-size: 28px;
    font-weight: 500;
    line-height: normal;
}

.button-buy{
    font-size: 18px;
    text-align: center; 
    display: flex;
    padding: 0.5em 1em;
    color: #FFF;
    background-color: transparent;
    text-decoration: none;
    border: 2px solid #FFF;
    cursor: pointer;
}

.button-buy:hover{
    text-decoration: none;
    border-color: #c0a470;
    color: #c0a470;
}

h3, h4, h5, h6 {
    color: #787878;
    font-weight: 16px;
    line-height: 1em;
    margin: 0 0 1em 0;
}

.welcome-style{
    background-image: url("../images/background.jpg");
    background-size: cover;
    background: linear-gradient(180deg, rgba(96, 52, 35, 0.76) 74.48%, rgba(96, 52, 35, 0.00) 97.97%), url("../images/background.jpg"), lightgray 50% / cover no-repeat; /*for this line we used the css */
    
}



.image-logo{
    width: 20%;
    float: left;
    display: block;
    padding-left: 2px;
}

.image-product {
    width: 30%;
    border-radius: 0.35em;
}



li, a, input{
    display: block;
    color: #DED5CB;
    text-decoration: none;
    font-family: 'Noto Sans';
    float: right;
    padding: 8px;
}



.text{
    flex: 1 0 0;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.60);
    display: flex;
    align-items: center;
    padding: 2px;
    color: #fff;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Noto Sans';

}

#About-Us{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vh;
    background-color: #E2DCD5;
    
}

#about-logo{
    grid-column: 1 / 2;
}
#about-subtitle{
    grid-column: 2 / 3;
    display: flex;
    color: #603423;
    font-family: Noto Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}

#about-p1{
    grid-column: 2 / 3;
}

#about-p2{

}



