h1 {
  color: #603423;
  font-size: 1.5rem;
}

body {
  background-color: #e2dcd5;
}

#terra-logo {
  max-width: 20%;
  display: block;
  padding-left: 1rem;
}

.back-button {
  color: #603423;
  font-size: 2rem;
  padding-left: 1rem;
  border-color: #603423;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 0.5rem;
  color: #616161;
  padding-left: 1rem;
}

.details-container {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 0.5em;
  align-self: left;
  padding-right: 1rem;
}

.delivery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 0.5rem;
  color: #616161;
}

.first-name,
.last-name,
.email,
.region_code,
.phone-number,
.country,
.city,
.addresses {
  background-color: #f7f7f7;
  border-radius: 0.2rem;
  height: 1.5rem;
  font-size: 1.2rem;
  border-color: #f7f7f7;
}

.payment-container {
  background-color: #f7f7f7;
  border-radius: 0.5rem;
  padding-right: 1rem;
  font-size: 1.3rem;
}

.round-button {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
}

#visa-logo {
  max-width: 10%;
}

#mastercard-logo {
  max-width: 10%;
}

#credit-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem;
  color: #616161;
  padding-bottom: 1rem;
}

.card-number {
  grid-column: 1 / 3;
  grid-row: 1;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  height: 1.5rem;
  background-color: #e5e4e4;
}

.expiration-date {
  grid-column: 1;
  grid-row: 2;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  height: 1.5rem;
  background-color: #e5e4e4;
}

.security-code {
  grid-column: 2;
  grid-row: 2;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  height: 1.5rem;
  background-color: #e5e4e4;
}

.name-on-card {
  grid-column: 1 / 3;
  grid-row: 3;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  height: 1.5rem;
  background-color: #e5e4e4;
}

.apply-pay {
  display: inline-block;
}

#apple-pay {
  max-width: 10%;
}

#google-pay {
  max-width: 10%;
}

.pay-now-button {
  height: 2rem;
  width: 100%;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-family: "Times New Roman", Times, serif;
  background-color: #5b573e;
  color: #f7f7f7;
  border-color: #f7f7f7;
}

.products-container {
  display: grid;
  max-width: 100%;
  grid-template-rows: repeat(auto-fit, 1fr);
  background-color: #f7f7f7;
  border-radius: 0.5rem;
  padding-right: 1rem;
}

.product-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.product-picture {
  max-width: 60%;
  text-align: left;
  border-radius: 0.5rem;
}

.product-detail {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  color: #616161;
  text-align: left;
  font-size: 80%;
}

.product-number-and-price {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.product-number {
  text-align: left;
}

.product-price {
  text-align: right;
  width: fit-content;
}

footer {
  height: 2rem;
}
