@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
h1 {
  color: #603423;
  font-size: 1.5rem;
}

body {
  background-color: #e2dcd5;
  font-family: "Noto Sans";
}

/* Header */
#terra-logo {
  max-width: 20%;
  display: block;
  padding-left: 1rem;
}

.back-button {
  color: #603423;
  font-size: 2rem;
  padding-left: 1rem;
  border-color: #603423;
}

.grid-container {
  display: grid;
  gap: 0.5rem;
  color: #616161;
  padding-left: 1rem;
}

@media screen and (max-width: 810px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 810px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.details-container {
  display: grid;
  grid-template-rows: repeat(2, auto-fit);
  gap: 0.5em;
  padding-right: 1rem;
}

/* Delivery Part */
.delivery-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  color: #616161;
}

@media screen and (max-width: 1000px) {
  .delivery-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.first-name,
.last-name,
.email,
.region-code,
.phone-number,
.country,
.city,
.addresses {
  background-color: #f7f7f7;
  border-radius: 0.2rem;
  height: 1.5rem;
  font-size: 1.2rem;
  border-color: #f7f7f7;
  padding: 0.3rem;
  border-style: none;
}

/* Payment Part */
.payment-container {
  background-color: #f7f7f7;
  border-radius: 0.5rem;
  padding-right: 1rem;
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
}

.round-button {
  float: left;
  margin: 1rem;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  border-width: 0.1rem;
  border-style: solid;
}

#visa-mastercard-logo {
  margin-top: 10px;
  padding-left: 10px;
  max-width: 18%;
}

#credit-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem;
  color: #616161;
  padding-left: 1rem;
  padding-top: 10px;
}

.card-number {
  grid-column: 1 / 3;
  grid-row: 1;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  height: 1.5rem;
  background-color: #e5e4e4;
  padding: 0.3rem;
  border-style: none;
}

.expiration-date {
  grid-column: 1;
  grid-row: 2;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  height: 1.5rem;
  background-color: #e5e4e4;
  padding: 0.3rem;
  border-style: none;
}

.security-code {
  grid-column: 2;
  grid-row: 2;
  border-radius: 0.2rem;
  border-color: #241212;
  border-style: none;
  font-size: 1.2rem;
  height: 1.5rem;
  background-color: #e5e4e4;
  padding: 0.3rem;
}

.name-on-card {
  grid-column: 1 / 3;
  grid-row: 3;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  height: 1.5rem;
  background-color: #e5e4e4;
  padding: 0.3rem;
  border-style: none;
}

#apple-pay {
  max-width: 10%;
}

#google-pay {
  max-width: 10%;
  padding-left: 0.5rem;
}

.pay-now-button {
  height: 3rem;
  width: 100%;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-family: "Noto Sans";
  background-color: #5b573e;
  color: #f7f7f7;
  border-color: #f7f7f7;
  margin-top: 1rem;
  border-width: 0.2rem;
  border-color: #f7f7f7;
  border-style: solid;
}

.pay-now-button:hover {
  background-color: #423f2c;
  color: #ffffff;
  border-color: #a0a0a0;
  border-width: 0.2rem;
}

/* Products Part */
.products-container {
  display: grid;
  max-width: 100%;
  grid-template-rows: repeat(auto-fit, 1fr);
  background-color: #f7f7f7;
  border-radius: 0.5rem;
  padding-right: 1rem;
  font-size: 1.1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.product-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.product-picture {
  max-width: 60%;
  text-align: left;
  border-radius: 0.5rem;
}

.product-detail {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  color: #616161;
  text-align: left;
  font-size: 80%;
}

.product-number-and-price {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.product-number {
  text-align: left;
  padding-right: 1rem;
}

.product-price {
  text-align: right;
  width: fit-content;
}

.total-amount-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #616161;
  text-align: left;
  font-size: 100%;
}
/* Footer */
footer {
  height: 2rem;
}
